<nav>
    <div class="site-title">
        <a href="/"><h1>Clash Strats</h1></a>
        <p>A net Clash site</p>
         
    </div>
    <ul>
        <li><a href="/strategies">Strategies</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/strategies/newStrats">New Strategies</a></li>
    </ul>
</nav>
