<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>

    <div class="create-strat content">
        <form action="/strategies/strategies" method="post">
            <label for="name">Strategy Name</label>
            <input type="text" name="name" id="name" required>

            <label for="army">Army Composition</label>
            <input type="text" name="army" id="army" required>

            <label for="description">Explain how the strat works</label>
            <textarea  name="description" id="description"></textarea>

            <button>Submit</button>
        </form>

    </div>


    <%- include('../partials/footer.ejs') %>

</body>
</html>