<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>
    
    <div class="home content">
        <h1>Welcome Fellow Clashers!</h1>
        <p> Are you looking for a place where you can keep track of all the different attack strategies and their armies?</p>
        <p>If so, then you are at the right place!!!!</p>
        <p>Follow me and lets explore and learn new strategies together!</p>
    </div>

    <%- include('./partials/footer.ejs') %>

    
</body>
</html>

